body {
	background: url("Back.jpg") no-repeat center center fixed;	
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	  display: flex;
	  height: 100vh;
}

.container h1 {
	margin: auto;
	color: white;
	font-size: 80px;
}

.container div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.redondear {
	border-radius: 20px;
}

